input{
    font-size: 40px;
}
thead{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
}
td{
    justify-content: center;
}
table{
    width: 1000px;
    border-collapse: separate;
    border-spacing: 0 1em;
  }
